# Default
*.swp
*.swo
*.un~
*~

# Darwin
*.DS_Store

# Intellij
/.idea
*.iml

# node
node_modules/
npm-debug.log

# yarn
yarn-error.log

# istanbul
.nyc_output/
/coverage

# eslint
.eslintcache

# App
/tmp
dist/
build
lib

.vscode
